.content{
	background-color: var(--white-color);
	border-radius: var(--border-radius);
	border: 5px solid var(--purple-color);
	color: var(--dark-color);
	padding: 1em;

	width: max(18vw, 200px);
	aspect-ratio: 2/3;
	/*height: min-content;*/

	display: grid;
	place-items: center;
}

/*.imageHandler{*/
/*	border-radius: var(--border-radius);*/
/*}*/

.image{
	width: 15vw;
	border-radius: var(--border-radius);
	border: 3px solid var(--purple-color);
	aspect-ratio: 1/1;
}

.title{
	font-size: 22px;
}

.description{
	margin: 0;
	background-color: var(--dark-color);
	color: var(--white-color);
	max-width: 80%;

	display: grid;
	place-items: center;

	border-radius: var(--border-radius);
	padding: .5em .9em;

	font-size: 18px;
	letter-spacing: 1px;
}