.content{
	position: relative;
	background-color: var(--dark-color-hovered);
	border-radius: var(--border-radius);
	border: 5px solid var(--dark-blue-color);
	color: var(--white-color);
	padding: 1em;
	gap: .3em;

	width: max(18vw, 200px);
	aspect-ratio: 2/3;

	display: grid;
	place-items: center;
}

.image{
	width: 15vw;
	border-radius: var(--border-radius);
	border: 3px solid var(--dark-blue-color);
	aspect-ratio: 1/1;
}

.title{
	max-width: 90%;
	text-align: center;
}