.content{
	margin: 0;
	background-color: var(--dark-color);
	color: var(--white-color);
	max-width: 80%;

	display: grid;
	place-items: center;

	border-radius: var(--border-radius);
	padding: .5em .9em;

	font-size: 18px;
	letter-spacing: 1px;
}

.blue{

}